* {
        margin: 0;
        padding: 0;
}

html {
        cursor: url(../images/cursor.cur), auto;
        height: 100vh;
}

body{
        background: url(../images/fortnite-background.png) no-repeat center center/cover;

        text-align: center;
        /* height: 100vh; */
        /* width: 100vw; */
}

.container h1{

}
#header{
        text-align: center;
        font-family: wonderbar;
        font-size: 3rem;
        color: rgb(225, 204, 204);
        /* background: -webkit-linear-gradient(rgb(115, 100, 100), #333); */
        /* -webkit-background-clip: text; */
        /* -webkit-text-fill-color: transparent; */
        text-shadow: 1px 9px 0 rgb(0, 0, 0);

}

.text-container {
        color: var(--white-color);

}

.side-bar-container {
        height: 38rem;
        width: 15rem;
        padding: 20px;
        font-family: "game";
        /* border: 2px solid white; */
        background: rgb(195, 178, 93);
        /* background: linear-gradient(357deg, rgb(39, 135, 183), rgba(108, 228, 230, 0.716) ); */
        text-shadow: 10px 10px 20px #333;
        color: #ccc;
        border-bottom:solid rgb(43, 43, 43) 25px;
        border-left:solid rgb(43, 43, 43) 2px;
        border-right:solid rgb(43, 43, 43) 2px;
        font-size: 30px;
        /* font-weight: bold; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        border-radius: 10px;
        position: relative;
        left: 90px;
        
}
button{
        width: 160px;
        height:160px;
        border-radius: 100px;
        border: none;
        font-size: 30px;
        background-color: rgba(93, 93, 93, 0.711);
        transition: 0.1s;
}
button:hover{
        width: 140px;
        height: 130px;
        background-color: rgba(78, 83, 160, 0.351);

}

span {
        margin-bottom: 40px;
}

.side-guesses {
        display: flex;
        flex-direction: column;
        align-content: space-between;
}

.game-wrapp {
display: grid;
grid-template-columns: repeat(3, 1fr);
/* grid-gap: -50rem; */
}


.grid {
        grid-gap: 1.5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        transform-style: preserve-3d;
        transform-origin: center right;
        transition: transform 10s;
        justify-content:space-around;
        align-items: center;
}

.flipped-card {
        background: url(../images/flipped-back-card.png) no-repeat center center/cover;
        height: 12.60rem;
        width: 10.5rem;
        transition: 0.8s;
        transform:rotateY(180deg);
}


.ace {
        background: url(../images/one-card.jpg);
        height: 12.60rem;
        width: 10.5rem;
        box-shadow: 10px 20px 20px rgba(82, 82, 82, 0.73);
        border-radius: 10px;
        transition: 0.3s;

}

.two {
        background: url(../images/two-card.jpg);
        height: 12.60rem;
        width: 10.5rem;
        box-shadow: 10px 20px 30px rgba(82, 82, 82, 0.73);
        border-radius: 10px;
        transition: 0.3s;
}

.queen {
        background: url(../images/queen.jpg);
        height: 12.60rem;
        width: 10.5rem;
        box-shadow: 10px 20px 30px rgba(82, 82, 82, 0.73);
        border-radius: 10px;
        transition: 0.3s;
}

.prince {
        background: url(../images/prince.jpg);
        height: 12.60rem;
        width: 10.5rem;
        box-shadow: 10px 20px 30px rgba(82, 82, 82, 0.73);
        border-radius: 10px;
        transition: 0.3s;
}

.ten {
        background: url(../images/ten.jpg);
        height: 12.60rem;
        width: 10.5rem;
        box-shadow: 10px 20px 30px rgba(82, 82, 82, 0.73);
        border-radius: 10px;
        transition: 0.3s;
}

.seven {
        background: url(../images/seven.jpg);
        height: 12.60rem;
        width: 10.5rem;
        box-shadow: 10px 20px 30px rgba(82, 82, 82, 0.73);
        border-radius: 10px;
        transition: 0.3s;
}

